@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6; /* Light gray background */
  color: #1f2937; /* Dark text */
  -webkit-tap-highlight-color: transparent;
}

.pb-safe { 
  padding-bottom: env(safe-area-inset-bottom, 80px); 
}
